.idea/
.env
.env.dev
docker-fizzbuzzrest/web-fizzbuzzrest/log/
docker-fizzbuzzrest/web-fizzbuzzrest/.bash_history

# Cache, session files and logs (Symfony3)
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep

# Managed by Composer
/bin/*
!bin/console
/vendor/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
